# Ignore Mac system files
.DS_store

# Ignore the secrets folder
secrets

# Ignore config folders
platform/gateway/config
platform/api-portal/config
platform/alv/config
platform/acc/config
workloads/dekt4pets/backend/config
workloads/dekt4pets/frontend/config


# Ignore files related to config values and credentials
.env


