# Ignore Mac system files
.DS_store

# Ignore the secrets folder
secrets

# Ignore files related to config values and credentials
.env

#ingnore local api hub configurations
hub/run-local-api-hub-server.sh

